/* Coolors Exported Palette - https://coolors.co/a44827-d2622a-d4af37-f7f7f9-9b998d-666754-1c3a13-24302e-232125-302535 */

/* CSS HEX */
--rust: #a44827ff;
--flame: #d2622aff;
--gold-metallic: #d4af37ff;
--cultured: #f7f7f9ff;
--battleship-gray: #9b998dff;
--ebony: #666754ff;
--forest-green: #1c3a13ff;
--gunmetal: #24302eff;
--raisin-black: #232125ff;
--dark-purple: #302535ff;

/* CSS HSL */
--rust: hsla(16, 62%, 40%, 1);
--flame: hsla(20, 67%, 49%, 1);
--gold-metallic: hsla(46, 65%, 52%, 1);
--cultured: hsla(240, 14%, 97%, 1);
--battleship-gray: hsla(51, 7%, 58%, 1);
--ebony: hsla(63, 10%, 37%, 1);
--forest-green: hsla(106, 51%, 15%, 1);
--gunmetal: hsla(170, 14%, 16%, 1);
--raisin-black: hsla(270, 6%, 14%, 1);
--dark-purple: hsla(281, 18%, 18%, 1);

/* SCSS HEX */
$rust: #a44827ff;
$flame: #d2622aff;
$gold-metallic: #d4af37ff;
$cultured: #f7f7f9ff;
$battleship-gray: #9b998dff;
$ebony: #666754ff;
$forest-green: #1c3a13ff;
$gunmetal: #24302eff;
$raisin-black: #232125ff;
$dark-purple: #302535ff;

/* SCSS HSL */
$rust: hsla(16, 62%, 40%, 1);
$flame: hsla(20, 67%, 49%, 1);
$gold-metallic: hsla(46, 65%, 52%, 1);
$cultured: hsla(240, 14%, 97%, 1);
$battleship-gray: hsla(51, 7%, 58%, 1);
$ebony: hsla(63, 10%, 37%, 1);
$forest-green: hsla(106, 51%, 15%, 1);
$gunmetal: hsla(170, 14%, 16%, 1);
$raisin-black: hsla(270, 6%, 14%, 1);
$dark-purple: hsla(281, 18%, 18%, 1);

/* SCSS RGB */
$rust: rgba(164, 72, 39, 1);
$flame: rgba(210, 98, 42, 1);
$gold-metallic: rgba(212, 175, 55, 1);
$cultured: rgba(247, 247, 249, 1);
$battleship-gray: rgba(155, 153, 141, 1);
$ebony: rgba(102, 103, 84, 1);
$forest-green: rgba(28, 58, 19, 1);
$gunmetal: rgba(36, 48, 46, 1);
$raisin-black: rgba(35, 33, 37, 1);
$dark-purple: rgba(48, 37, 53, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #a44827ff, #d2622aff, #d4af37ff, #f7f7f9ff, #9b998dff, #666754ff, #1c3a13ff, #24302eff, #232125ff, #302535ff);
$gradient-right: linear-gradient(90deg, #a44827ff, #d2622aff, #d4af37ff, #f7f7f9ff, #9b998dff, #666754ff, #1c3a13ff, #24302eff, #232125ff, #302535ff);
$gradient-bottom: linear-gradient(180deg, #a44827ff, #d2622aff, #d4af37ff, #f7f7f9ff, #9b998dff, #666754ff, #1c3a13ff, #24302eff, #232125ff, #302535ff);
$gradient-left: linear-gradient(270deg, #a44827ff, #d2622aff, #d4af37ff, #f7f7f9ff, #9b998dff, #666754ff, #1c3a13ff, #24302eff, #232125ff, #302535ff);
$gradient-top-right: linear-gradient(45deg, #a44827ff, #d2622aff, #d4af37ff, #f7f7f9ff, #9b998dff, #666754ff, #1c3a13ff, #24302eff, #232125ff, #302535ff);
$gradient-bottom-right: linear-gradient(135deg, #a44827ff, #d2622aff, #d4af37ff, #f7f7f9ff, #9b998dff, #666754ff, #1c3a13ff, #24302eff, #232125ff, #302535ff);
$gradient-top-left: linear-gradient(225deg, #a44827ff, #d2622aff, #d4af37ff, #f7f7f9ff, #9b998dff, #666754ff, #1c3a13ff, #24302eff, #232125ff, #302535ff);
$gradient-bottom-left: linear-gradient(315deg, #a44827ff, #d2622aff, #d4af37ff, #f7f7f9ff, #9b998dff, #666754ff, #1c3a13ff, #24302eff, #232125ff, #302535ff);
$gradient-radial: radial-gradient(#a44827ff, #d2622aff, #d4af37ff, #f7f7f9ff, #9b998dff, #666754ff, #1c3a13ff, #24302eff, #232125ff, #302535ff);