/* HTML: <div class="box"><sh></sh> </div> */
.box {
    position: relative;
    transform-style: preserve-3d;
    border-radius: 20px;
  }
  .box sh {
    position: absolute;
    inset: calc(-15px - 2px - 0px);
    border: calc(15px + 2px + 0px) solid #0000;
    border-radius: calc(15px + 2px + 0px + 20px);
    -webkit-mask: linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    transform: translateZ(-1px);
    pointer-events: none;
  }
  .box sh::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 20px;
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(15px);
    transform: translate(0px,0px);
  }